# MongoDB
MONGO_INITDB_ROOT_USERNAME=db_user
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME_STRONG_PASSWORD

# Backend
MONGO_URI=mongodb://db_user:CHANGE_ME_STRONG_PASSWORD@mongodb:27017/manos-creadoras?authSource=admin
JWT_SECRET=CHANGE_ME_USE_openssl_rand_-base64_64
PORT=3000
FRONTEND_URL=http://localhost
