MONGO_URI=mongodb+srv://USUARIO:PASSWORD@cluster.xxxxx.mongodb.net/manos-creadoras?retryWrites=true&w=majority
JWT_SECRET=CHANGE_ME_USE_openssl_rand_-base64_64
PORT=3000
FRONTEND_URL=http://localhost:5173
